body {
    font-size: 16px;
}

h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: left;
}

p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

ul {
    background-color: orangered;
    text-align: center;
    font-style: italic;
    line-height: 30px;
}

.favorite_color {
    background-color: blanchedalmond;
}

#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#brown {
    background-color: brown;
}