  /* Diferentes opções de fontes para selecionar
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Itim', cursive;
  font-family: 'Girassol', cursive; */
